.admin-input-des {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-right: 30px;
  gap: 15px;
}
.admin-input-des > textarea {
  background-color: #fcfcfc;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid gainsboro;
  height: 160px;
  margin-top: 5px;
}
.admin-input-des > label {
  font-size: 20px;
  margin-top: 20px;
}
