.footer-container {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer {
  padding: 100px 150px;
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: space-between;
  background-color: white;
}
.footer-section1 {
  width: 500px;
}
.footer-section1 > p {
  margin-top: 20px;
  font-size: 20px;
  line-height: 1.5;
}
.footer-section1 > img {
  width: 320px;
}
.footer-section2,
.footer-section3,
.footer-section4 {
  margin-top: 72px;
  width: 200px;
}
.footer-section2 > h4,
.footer-section3 > h4,
.footer-section4 > h4 {
  font-size: 26px;
}
.footer-section2 > ul,
.footer-section3 > ul,
.footer-section4 > ul {
  line-height: 2;
  margin-top: 20px;
  margin-left: 25px;
}
.end-line {
  background-image: url("/public/Images/Group 3614.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: right;
  display: flex;
  padding: 20px 80px;
  align-items: center;
  justify-content: space-between;
  color: white;
}
.end-line > div {
  margin-right: 18vw;
  display: flex;
  gap: 10px;
}
.end-line > div > a {
  border-left: 2px solid white;
  padding-left: 10px;
}
.footer-section3 > ul {
  margin-left: 0;
}
.footer-section3 > ul > li {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.footer-section3 > ul > li > img {
  max-height: 30px;
}

@media (max-width: 1500px) {
  .footer {
    padding: 80px 50px;
  }
  .footer-section1 {
    width: 250px;
  }
  .footer-section1 > img {
    width: 200px;
  }
  .footer-section1 > p {
    font-size: 15px;
  }
  .end-line {
    background-position-x: left;
  }
  .end-line > div {
    margin-right: 0;
  }
  .end-line > p {
    font-size: 13px;
  }
  .end-line > div > a {
    font-size: 13px;
  }
}
@media (max-width: 1023px) {
  .footer {
    padding: 60px;
  }
  .footer-section1 > img {
    width: 250px;
  }
  .footer-section1 > p {
    font-size: 15px;
  }
  .footer-section2,
  .footer-section3,
  .footer-section4 {
    margin-top: 30px;
    width: 150px;
  }
  .footer-section2 > h4,
  .footer-section3 > h4,
  .footer-section4 > h4 {
    font-size: 20px;
  }
  .footer-section2 > ul,
  .footer-section3 > ul,
  .footer-section4 > ul {
    margin-top: 5px;
    margin-left: 10px;
  }
  .end-line {
    padding: 20px 40px;
  }
}
@media (max-width: 767px) {
  .end-line {
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }
  .end-line > div > a {
    border-left: 2px solid white;
    padding-left: 5px;
    font-size: 11px;
  }
}
