.admin-input {
  margin: 30px 30px 10px 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.admin-input > label {
  font-size: 20px;
  margin-top: 10px;
}
.admin-input > input {
  width: 100%;
  padding: 5px;
  border: 1px solid gainsboro;
  border-radius: 10px;
  height: 45px;
  background-color: transparent;
}
